# Dependency directories
node_modules/

# Build outputs
dist/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Editor directories
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Package manager files
package-lock.json
